{% set _currentRoute = app.request.attributes.get('_route') %}
{% set _currentParams = app.request.query.all %}
{% if path_params is defined %}
    {% set _currentParams = _currentParams|merge(path_params) %}
{% endif %}
{% if paginate.hasPagination %}

<ul class="c_pagination">
    {% if not paginate.isFirstPage %}
    <li class="c_pagination__item c_pagination__item--first">
        <a href="{{ path(_currentRoute, _currentParams|merge({page: 1})) }}" class="page-link">
            最初
        </a>
    </li>
    {% endif %}

    {% for i in paginate.getSlidingPageList(4) %}
    {% if i == paginate.getCurrentPage %}
    <li class="c_pagination__item c_pagination__item--active">
        <b class="page-link">{{ i }}</b>
    </li>
    {% else %}
    <li class="c_pagination__item">
        <a href="{{ path(_currentRoute, _currentParams|merge({page: i})) }}" class="page-link">
            {{ i }}
        </a>
    </li>
    {% endif %}
    {% endfor %}

    {% if not paginate.isLastPage %}
    <li class="c_pagination__item c_pagination__item--last">
        <a href="{{ path(_currentRoute, _currentParams|merge({page: paginate.getTotalPage})) }}" class="page-link">
            最後
        </a>
    </li>
    {% endif %}
</ul>
{% endif %}
